@media only screen and (max-width: 480px){
  .App{
    max-width: 100%;
  }
}

@media only screen and (min-width: 480px){
  .App{
    max-width: 600px;
  }
}

.App{
  margin: auto;
}
.title-logo{
  font-size: 3em;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 80px;
  padding: 1px 1px 10px 1px;
  border-bottom: 1px solid black;
}

.description{
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid black;
}

.getDateText{
  text-align: center;
}
.getDate{
  margin: 40px 30px 10px 30px;
}
.getDateInputs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.getDateInput{
  width: max-content;
}
.getDateInput>input{
  width: 100px;
  height: 30px;
  font-size: 1em;
  border-radius: 6px;
}

.inputError{
  font-size: 0.9em;
  height: 21px;
}

.invalidDateError{
  padding-top: 2px;
  text-align: center;
}
.getWeekdays{
  border: 1px solid black;
  margin: 20px 20px 5px 20px;
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 70px;
}
.getWeekdaysRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.getWeekdaysInput{
  flex: 1;
  margin: 0px 4px;
  width:auto;
  height:30px;
}
.getWeekdays>input, .getWeekdaysInput>input{
  display: none;
}
.getWeekdaysInput>label{
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: inherit;
  height: inherit;
  border: 1px solid black;

}
.getWeekdaysInput>input:checked+label{
  box-shadow: 1px 1px 3px 1px rgb(0,0,0,0.1) inset;
}
.getWeekdaysInput>input:not(:checked)+label{
  opacity: 0.5;
}
.getWeekdaysInput.all label{
  border-radius: 8px;
}
.showBD{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 40px 0px 0px 0px;
  padding: 20px 10px 20px 10px;
  text-align: center;
}
.showBDEachDay{
  border: 1px solid black;
  box-shadow: 3px 3px 3px 1px grey;
  margin: 10px;
  padding: 15px 10px;
}
.showBDWeekday{
  font-size: 1.2em;
  margin-bottom: 5px;
}
.footer{
  height: 60px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}